p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#header,
h1 {
  display: none;
}

.caption,
.header-section-number {
  display: none;
}


h2 {
  color: black;
  text-shadow: 1px 1px 0.6px black;
  font-size: 11px;
}

.titulo_bookdown {
  font-weight: bold;
  font-size: 13px;
  margin-top: 7px;
}


li.chapter > a >b {
    display: none;
}

ul.summary {
    font-weight: bold;
}


.book-header > a.btn[aria-label="Search"],
.book-header > a.btn[aria-label="Information about the toolbar"],
.book-header > a.btn[aria-label="Twitter"],
.book-header > a.btn[aria-label="Facebook"],
.book-header > a.btn[aria-label="Font Settings"] {
    display: none;
}

.book-header > .dropdown > a.btn[aria-label="Share"] {
    display: none;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #015394;
    background: 0 0;
    text-decoration: none;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 5px 15px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
}